METRICS_ADDRESS=localhost:9100      # Address for metrics reporting
METRICS_NAMESPACE=app               # Namespace for metrics
METRICS_SUBSYSTEM=handlers          # Subsystem for metrics

LOG_LEVEL=debug                     # Logging level: debug, info, warn, error
LOG_DEST=stdout                     # Log destination: stdout, stderr
LOG_ADD_SOURCE=true                 # Whether to include source information in logs

APP_ENVIRONMENT=development         # Application environment: prod, staging, development

POW_COMPLEXITY=4                    # Complexity level for PoW
POW_PREFIX=random-prefix            # Prefix for PoW challenges

TCP_SERVER_PORT="8080"              # TCP server port
CLIENT_FETCH_INTERVAL="10s"         # Interval at which the client will fetch new quotes
